<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <title>缴费管理</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <!-- 页面标题 -->
        <div class="row" style="height:60px">
            <div class="col">
                <h4>缴费管理</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form>
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-1 col-form-label">学生</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" readonly ng-click="onSelectStudent()"
                                placeholder="点击选择" ng-model="detailInfo.studentName">
                        </div>
                        <label for="inputName" class="col-sm-1 col-form-label">课程</label>
                        <div class="col-sm-2">
                            <select class="form-control" ng-model="detailInfo.kecheng">
                                <option value="-1">请选择课程……</option>
                                <option ng-repeat="x in kechengListData" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                        <label for="inputName" class="col-sm-1 col-form-label">费用</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="detailInfo.fee">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-1 col-form-label">课次</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="detailInfo.times">
                        </div>
                        <label for="inputName" class="col-sm-1 col-form-label">备注</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" ng-model="detailInfo.remark">
                        </div>
                        <button class="col-sm-1 btn btn-success form-control" ng-click="onClear()">清 空</button>
                        &nbsp
                        <button class="col-sm-1 btn btn-primary form-control"
                            ng-click="onSave()">{{detailInfo.id?'修 改':'添 加'}}</button>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <!-- 查询板块 -->
        <div class="row">
            <div class="col-3">
                <div class="input-group">
                    <input type="text" class="form-control is-valid" ng-keyup="enterEvent($event)"
                        ng-model="search.key">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-success" ng-click="onSearch()">查 询</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />


        <!-- 数据区域 -->
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover" id="tableList">
                    <thead class="bg-info text-white">
                        <tr>
                            <th scope="col">序 号</th>
                            <th scope="col" ng-hide={{true}}>ID</th>
                            <th scope="col">学生</th>
                            <th scope="col">课程</th>
                            <th scope="col">费用</th>
                            <th scope="col">课次</th>
                            <th scope="col">备注</th>
                            <th scope="col">时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in listData">
                            <td>{{ $index + 1 }}</td>
                            <td ng-hide={{true}}>{{x.id}}</td>
                            <th scope="row"><a href="#" ng-click="getDetailData(x.id)">{{x.studentName}}</a></td>
                            <td>{{x.kechengName}}</td>
                            <td>{{x.fee}}</td>
                            <td>{{x.times}}</td>
                            <td>{{x.remark}}</td>
                            <td>{{x.createTime}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <!-- Modal 选择学生弹出页面 -->
    <div class="modal fade bd-example-modal-lg" id="studentSelectModal" tabindex="-1" role="dialog"
        data-backdrop="static" aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">学生选择</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- 操作按钮 -->
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control is-valid" ng-model="search.studentKey">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-outline-success" ng-click="onStudentSearch()">查
                                        询</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col">
                            <table class="table table-striped table-hover" id="studentTableList">
                                <thead class="bg-info text-white">
                                    <tr>
                                        <th scope="col">序 号</th>
                                        <th scope="col" ng-hide={{true}}>ID</th>
                                        <th scope="col">姓名</th>
                                        <th scope="col">学校</th>
                                        <th scope="col">年级</th>
                                        <th scope="col">班级</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in studentListData">
                                        <th scope="row">{{ $index + 1 }}</td>
                                        <td ng-hide={{true}}>{{x.id}}</td>
                                        <th scope="row"><a href="#"
                                                ng-click="onSelectOneStudent(x.id,x.name)">{{x.name}}</a>
                                            </td>
                                        <td>{{x.xuexiaoName}}</td>
                                        <td>{{x.nianjiName}}</td>
                                        <td>{{x.banjiName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 提示框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">友情提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{modalContent}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确 定</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../lib/jquery/jquery.3.2.1.js"></script>
    <script src="../lib/popper/popper.1.12.9.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/angular-1.7.5/angular.min.js"></script>
    <script src="../common/littleCatCommon.js"></script>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function ($scope, $http) {

            $scope.search = {
                key: '',
                studentKey: ''
            };

            $scope.detailInfo = {
                kecheng: '-1'
            };

            $scope.getStudentListData = function () {

                $http.get(CommonConfig.RestBaseUrl.IMSService + 'student/getList?key=' + $scope.search.studentKey)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.studentListData = result.data.data
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.getKeChengListData = function () {

                $http.get(CommonConfig.RestBaseUrl.IMSService + 'kecheng/getList')
                    .then(function (result) {  //正确请求成功时处理
                        $scope.kechengListData = result.data.data
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.getDetailData = function (id) {
                $http.get(CommonConfig.RestBaseUrl.IMSService + 'payrecord/getById?id=' + id)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.detailInfo = result.data.data[0];

                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.onClear = function () {
                $scope.detailInfo = {
                    kecheng: '-1'
                };
            };


            $scope.getData = function () {

                $http.get(CommonConfig.RestBaseUrl.IMSService + 'payrecord/getList?studentName=' + $scope.search.key)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.listData = result.data.data
                        console.log(result);

                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.onSelectOneStudent = function (id, name) {
                $scope.detailInfo.studentName = name
                $scope.detailInfo.student = id
                $("#studentSelectModal").modal("hide")
            };

            $scope.onSearch = function () {
                $scope.getData();
            };

            $scope.onStudentSearch = function () {
                $scope.getStudentListData();
            };


            $scope.onSelectStudent = function () {
                $scope.studentName = ''
                $scope.detailInfo.student = ''
                $scope.studentListData = []
                $scope.search.studentKey = ''

                $("#studentSelectModal").modal("show")
            };

            $scope.onSave = function () {

                if (StringUtil.isEmpty($scope.detailInfo.student)) {
                    $("#myModal").modal("show")
                    $scope.modalContent = "请选择学生！"
                    return
                }

                if ($scope.detailInfo.kecheng == '-1') {
                    $("#myModal").modal("show")
                    $scope.modalContent = "请选择课程！"
                    return
                }

                if (StringUtil.isEmpty($scope.detailInfo.fee)) {
                    $("#myModal").modal("show")
                    $scope.modalContent = "请填写费用！"
                    return
                }

                if (StringUtil.isEmpty($scope.detailInfo.times)) {
                    $("#myModal").modal("show")
                    $scope.modalContent = "请填写课次！"
                    return
                }

                if (StringUtil.isEmpty($scope.detailInfo.id)) {//添加
                    $http.post(CommonConfig.RestBaseUrl.IMSService + 'payrecord/add', $scope.detailInfo, CommonConfig.httpReqConfig)
                        .then(function (result) {  //正确请求成功时处理
                            if (result.data.code != 'NONE_ERROR') {
                                $("#myModal").modal("show")
                                $scope.modalContent = "添加失败！"
                                return
                            }

                            $("#myModal").modal("show")
                            $scope.modalContent = "添加成功！"

                            $scope.detailInfo = {
                                kecheng: '-1'
                            };

                            $scope.onSearch()

                        }).catch(function (result) { //捕捉错误处理
                            $("#myModal").modal("show")
                            $scope.modalContent = "添加失败！"

                            console.log(result);
                        });
                } else {//修改
                    $http.put(CommonConfig.RestBaseUrl.IMSService + 'payrecord/modify', $scope.detailInfo, CommonConfig.httpReqConfig)
                        .then(function (result) {  //正确请求成功时处理
                            if (result.data.code != 'NONE_ERROR') {
                                $("#myModal").modal("show")
                                $scope.modalContent = "修改失败！"
                                return
                            }

                            $("#myModal").modal("show")
                            $scope.modalContent = "修改成功！"

                            $scope.onSearch()

                        }).catch(function (result) { //捕捉错误处理
                            $("#myModal").modal("show")
                            $scope.modalContent = "修改失败！"
                            console.log(result);
                        });
                }
            };


            $scope.enterEvent = function (e) {
                var keycode = window.event ? e.keyCode : e.which;
                if (keycode == 13) {
                    $scope.onSearch();
                }
            };

            $scope.getData();
            $scope.getKeChengListData();

        });
    </script>
</body>

</html>