<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">

    <title>课时管理</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <div class="container-fluid">
        <!-- 页面标题 -->
        <div class="row" style="height:60px">
            <div class="col">
                <h4>课时管理（{{kechengName}}:{{kechengStateName}}）</h4>
            </div>
        </div>


        <!-- 操作按钮 -->
        <div class="row">


            <div class="col-6">
                <div class="input-group">
                    <input type="text" class="form-control is-valid" ng-keyup="enterEvent($event)" ng-model="search.key"
                        placeholder="学生姓名">
                    <input type="text" class="form-control is-valid" ng-keyup="enterEvent($event)"
                        ng-model="search.year" placeholder="年">
                    <input type="text" class="form-control is-valid" ng-keyup="enterEvent($event)"
                        ng-model="search.month" placeholder="月">
                    <input type="text" class="form-control is-valid" ng-keyup="enterEvent($event)" ng-model="search.day"
                        placeholder="日">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-success" ng-click="onSearch()">查 询</button>
                    </div>
                </div>
            </div>
            <div class="col" align="right">
                <button type="button" class="btn btn-primary" ng-click="onAdd()"
                    ng-hide="kechengState!='Y'">课时登记</button>
            </div>
        </div>
        <hr />
        <!-- 数据区域 -->
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover" id="tableList">
                    <thead class="bg-info text-white">
                        <tr>
                            <th scope="col">序 号</th>
                            <th scope="col" ng-hide={{true}}>ID</th>
                            <th scope="col">学生姓名</th>
                            <th scope="col">年</th>
                            <th scope="col">月</th>
                            <th scope="col">日</th>
                            <th scope="col">上课时间</th>
                            <th scope="col">备注</th>
                            <th scope="col">记录时间</th>
                            <th scope="col">记录人</th>
                            <th scope="col">是否有效</th>
                            <th scope="col">操 作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in listData">
                            <td>{{ $index + 1 }}</td>
                            <td ng-hide={{true}}>{{x.id}}</td>
                            <td>{{x.studentName}}</td>
                            <td>{{x.year}}</td>
                            <td>{{x.month}}</td>
                            <td>{{x.day}}</td>
                            <td>{{x.starttime}}</td>
                            <td>{{x.remark}}</td>
                            <td>{{x.createTime}}</td>
                            <td>{{x.operatorName}}</td>
                            <td>{{x.enableV}}</td>

                            <td>
                                <button type="button" class="btn btn-secondary btn-sm"
                                    ng-click="delete(x.id)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- Modal 课时登记弹出页面 -->
    <div class="modal fade bd-example-modal-lg" id="detailModal" tabindex="-1" role="dialog" data-backdrop="static"
        aria-labelledby="detailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">课时登记（{{kechengName}}）</h5>
                    <div class="alert alert-warning" role="alert">
                        时间默认当天，注意修改确认
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-10">
                            <div class="input-group">
                                <input type="text" class="form-control is-valid col-2" ng-keyup="enterEvent($event)"
                                    ng-model="detailInfo.year" placeholder="年">
                                <input type="text" class="form-control is-valid col-2" ng-keyup="enterEvent($event)"
                                    ng-model="detailInfo.month" placeholder="月">
                                <input type="text" class="form-control is-valid col-2" ng-keyup="enterEvent($event)"
                                    ng-model="detailInfo.day" placeholder="日">
                                <input type="text" class="form-control is-valid col-4" ng-keyup="enterEvent($event)"
                                    ng-model="detailInfo.starttime" placeholder="开始时间，如18:00">
                            </div>

                        </div>
                        <div class="col" align="right">
                            <button type="button" class="btn btn-primary" ng-click="onSave()">确定</button>
                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col">
                            <table class="table table-striped table-hover" id="studentTableList">
                                <thead class="bg-info text-white">
                                    <tr>
                                        <th scope="col"><input type="checkbox" id="cbxSelectAllOrCancel"
                                                ng-click="onSelectAllOrCancel()"></th>
                                        <th scope="col" ng-hide={{true}}>ID</th>
                                        <th scope="col">学生姓名</th>
                                        <th scope="col">备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in studentListData">
                                        <td><input type="checkbox"></td>
                                        <td ng-hide={{true}}>{{x.id}}</td>
                                        <td>{{x.studentName}}</td>
                                        <td><input type="text" class="form-control" id='tbx_remark'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal 提示框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">友情提示</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{modalContent}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">确 定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 危险操作确认框-->
    <div class="modal fade" id="submitAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">危险操作告警</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{modalContent}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click='onSubmitCancel()'>取
                        消</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click='onSubmitOK()'>确
                        定</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../lib/jquery/jquery.3.2.1.js"></script>
    <script src="../lib/popper/popper.1.12.9.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../lib/angular-1.7.5/angular.min.js"></script>
    <script src="../common/littleCatCommon.js"></script>

    <script>
        var app = angular.module('myApp', []);

        app.controller('myCtrl', function ($scope, $http) {

            if (StringUtil.isEmpty(sessionStorage.getItem("currentUser"))) {//尚未登录
                window.location = '../main/login.html';
            }

            $scope.currentUser = JSON.parse(sessionStorage.getItem("currentUser"));


            $scope.search = {
                key: '',
                year: new Date().format('yyyy'),
                month: new Date().format('MM'),
                day: ''
            };

            $scope.restDetailInfo = function () {
                $scope.detailInfo = {
                    year: new Date().format('yyyy'),
                    month: new Date().format('MM'),
                    day: new Date().format('dd'),
                    starttime: ''
                };
            };

            $scope.kechengId = RequestUtil.getQueryParamByName("kechengId")
            $scope.kechengName = RequestUtil.getQueryParamByName("kechengName")

            $scope.kechengState = RequestUtil.getQueryParamByName("state")
            $scope.kechengStateName = RequestUtil.getQueryParamByName("statename")

            if (StringUtil.isEmpty($scope.kechengId)) {
                window.location = '../kecheng/KeChengMgr.html'
            }

            $scope.onSelectAllOrCancel = function () {
                TableUtil.selectAllOrCncel('studentTableList', !$scope.selectAll, 1, $scope.studentListData.length);
                $scope.selectAll = !$scope.selectAll;
            };

            //重置记录的选择状态
            $scope.resetSelectStatus = function () {
                document.getElementById('cbxSelectAllOrCancel').checked = false;
                $scope.selectAll = false;
            }

            $scope.getStudentData = function () {
                $http.get(CommonConfig.RestBaseUrl.IMSService + 'kecheng/getStudentList?kecheng=' + $scope.kechengId)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.studentListData = result.data.data
                        console.log(result);

                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.getData = function () {

                $http.get(CommonConfig.RestBaseUrl.IMSService + 'timesrecord/getList?kecheng=' + $scope.kechengId + '&key=' + $scope.search.key + '&year=' + $scope.search.year + '&month=' + $scope.search.month + '&day=' + $scope.search.day)
                    .then(function (result) {  //正确请求成功时处理
                        $scope.listData = result.data.data
                        console.log(result);

                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            };

            $scope.onSearch = function () {
                $scope.getData();
            };

            $scope.onAdd = function () {
                $scope.getStudentData()
                $scope.resetSelectStatus()
                $scope.restDetailInfo()
                $("#detailModal").modal("show")
            };


            $scope.onSave = function () {
                var data = []

                var table = document.getElementById('studentTableList')
                for (var i = 1; i < 1 + $scope.studentListData.length; i++) {
                    var row = table.rows[i];
                    var inputs = row.getElementsByTagName('input');
                    var remark = ''
                    var needProcess = true
                    for (var j = 0; j < inputs.length; j++) {
                        if (inputs[j].type == 'text') {
                            remark = inputs[j].value
                        }

                        if (inputs[j].type == 'checkbox') {
                            if (!inputs[j].checked) {
                                needProcess = false
                                break
                            }
                        }


                    }
                    if (!needProcess) {
                        continue
                    }
                    data.push(
                        {
                            kecheng: $scope.kechengId,
                            student: $scope.studentListData[i - 1].student,
                            year: $scope.detailInfo.year,
                            month: $scope.detailInfo.month,
                            day: $scope.detailInfo.day,
                            starttime: $scope.detailInfo.starttime,
                            remark: remark,
                            operator: $scope.currentUser.id
                        }
                    )
                }

                if (data.length == 0) {
                    $scope.modalContent = "未选择任何学生！"
                    $("#myModal").modal("show")
                    return
                }

                $http.post(CommonConfig.RestBaseUrl.IMSService + 'timesrecord/batchadd', data, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        if (result.data.code != 'NONE_ERROR') {
                            $("#myModal").modal("show")
                            $scope.modalContent = "添加失败！"

                            $('#myModal').on('hidden.bs.modal', function (e) {

                            });

                            return
                        }

                        $("#myModal").modal("show")
                        $scope.modalContent = "添加成功！"

                        $('#myModal').on('hidden.bs.modal', function (e) {
                            $scope.onSearch()
                            $("#detailModal").modal("hide")
                        });


                    }).catch(function (result) { //捕捉错误处理
                        $("#myModal").modal("show")
                        $scope.modalContent = "添加失败！"

                        console.log(result);
                    });


            };

            $scope.onSubmitCancel = function () {
                $("#submitAlert").modal("hide")
            }

            $scope.onSubmitOK = function () {
                $http.delete(CommonConfig.RestBaseUrl.IMSService + 'timesrecord/delete/' + $scope.currentId, null, CommonConfig.httpReqConfig)
                    .then(function (result) {  //正确请求成功时处理
                        $("#submitAlert").modal("hide")
                        $scope.getData();
                    }).catch(function (result) { //捕捉错误处理
                        console.log(result);
                    });
            }

            $scope.delete = function (id) {
                $("#submitAlert").modal("show")
                $scope.modalContent = "确认要删除本条课次记录么？"
                $scope.currentId = id
            };

            //跳转查看学生课程页面
            $scope.seekechenginfo = function (id, name) {

                window.location = '../kecheng/StudentHasKeChengs.html?studentId=' + id + '&studentName=' + name
            };


            $scope.enterEvent = function (e) {
                var keycode = window.event ? e.keyCode : e.which;
                if (keycode == 13) {
                    $scope.onSearch();
                }
            };


            $scope.selectAll = false;
            $scope.restDetailInfo()
            $scope.getData();




        });
    </script>
</body>

</html>